<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />

    <link href="@Assets["css/imports.css"]" rel="stylesheet" />
    <link href="@Assets["css/variables.css"]" rel="stylesheet" />
    <link href="@Assets["css/reset.css"]" rel="stylesheet" />
    <link href="@Assets["css/styles.css"]" rel="stylesheet" />
    <link rel="stylesheet" href="@Assets["Portfolio-Site-Static.styles.css"]" />

    <link rel="preload" href="css/animations.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <script defer src="https://friconix.com/cdn/friconix.js"></script>
    <script defer src="/js/friconix.js"></script>

    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/Flip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/MorphSVGPlugin.min.js"></script>
    <script src="@Assets["js/theme-switcher.js"]"></script>
    <script src="@Assets["js/scrollTriggers.js"]"></script>
    <script src="@Assets["js/cursor.js"]"></script>
    <script src="@Assets["js/interop.js"]"></script>
</body>

</html>
