@using Portfolio_Site.Shared.Helpers

<div class="swatch-row">
    <div style="background-color: var(@($"--{color}-000"))">
        <label>000</label>
    </div>
    <div style="background-color: var(@($"--{color}-050"))">
        <label>050</label>
    </div>
    <div style="background-color: var(@($"--{color}-100"))">
        <label>100</label>
    </div>
    <div style="background-color: var(@($"--{color}-300"))">
        <label>300</label>
    </div>
    <div style="background-color: var(@($"--{color}-500"))">
        <label>500</label>
    </div>
    <div style="background-color: var(@($"--{color}-600"))">
        <label>600</label>
    </div>
    <div style="background-color: var(@($"--{color}-700"))">
        <label>700</label>
    </div>
    <div style="background-color: var(@($"--{color}-800"))">
        <label>500</label>
    </div>
    <div style="background-color: var(@($"--{color}-900"))">
        <label>900</label>
    </div>
</div>

@code {
    string? color;

    [Parameter]
    public Color Color { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        color = Color.EnumToClass();
    }
}
