@namespace Portfolio_Site.Components

<div class="scrollable" data-scroll-speed="@ScrollSpeed">
    @if (Background != null)
    {
        <div class="scrollable-background" data-scroll-speed="@BackgroundScrollSpeed">
            @Background
        </div>
    }

    @if (Foreground != null) {
        <div class="scrollable-foreground">@Foreground</div>

    }

    @if (Title != null) {
        <div class="scrollable-title" data-scroll-speed="@TitleScrollSpeed">@Title</div>

    }

@*    <img src="/css/img/paper-crease.jpg" class="scrollable-background" />

    <h1 class="scrollable-title">This is the title</h1>
*@
</div>

@code {
    [Parameter]
    public RenderFragment Background { get; set; } = null;
    [Parameter]
    public RenderFragment Foreground { get; set; } = null;
    [Parameter]
    public RenderFragment Title { get; set; } = null;

    [Parameter]
    public double ScrollSpeed { get; set; } = 1;

    [Parameter]
    public double BackgroundScrollSpeed { get; set; } = 1;

    [Parameter]
    public double TitleScrollSpeed { get; set; } = 1;
}
