@namespace Portfolio_Site.Components

<div class="scrollable" data-scroll-speed="@ScrollSpeed" @attributes="@AdditionalAttributes">
    @if (Background != null)
    {
        <div class="scrollable-background" data-scroll-speed="@BackgroundScrollSpeed">
            @Background
        </div>
    }

    @if (Foreground != null) {
        <div class="scrollable-foreground">@Foreground</div>

    }

    @if (Title != null) {
        <div class="scrollable-title" data-scroll-speed="@TitleScrollSpeed">@Title</div>

    }
</div>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    [Parameter]
    public RenderFragment? Background { get; set; }
    [Parameter]
    public RenderFragment? Foreground { get; set; }
    [Parameter]
    public RenderFragment? Title { get; set; }

    [Parameter]
    public double ScrollSpeed { get; set; } = 1;

    [Parameter]
    public double BackgroundScrollSpeed { get; set; } = 1;

    [Parameter]
    public double TitleScrollSpeed { get; set; } = 1;
}
