@using PortfolioSite.Client.Helpers

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<li @attributes="@AdditionalAttributes">
    @if (IsLink)
    {
        <a class="nav-link @GetActive(Destination, NavLinkMatch.All)" href="@Destination">
            @ChildContent
        </a>
    } else
    {
        <a class="nav-link @GetActive(Destination, NavLinkMatch.All)" @onclick="@(async () => await JSRuntime.ScrollToElement(Destination))">
            @ChildContent
        </a>
    }
</li>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; }

    [Parameter]
    public bool IsDefault { get; set; } = false;

    [Parameter]
    public bool IsLink { get; set; } = true;

    [Parameter]
    public string Destination { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    bool IsActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix)
    {
        var relativePath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();

        return navLinkMatch == NavLinkMatch.All ? relativePath == href.ToLower() : relativePath.StartsWith(href.ToLower());
    }

    string GetActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix) => IsActive(href, navLinkMatch) ? "active" : "";
}
