@namespace Portfolio_Site_Static.Components

<div class="scrollable" data-scroll-speed="@ScrollSpeed" data-scroll-offset="@ScrollOffset" @attributes="@AdditionalAttributes">
    @if (Background != null)
    {
        <div class="scrollable-background" data-scroll-speed="@BackgroundScrollSpeed" data-scroll-offset="@BackgroundScrollOffset">
            @Background
        </div>
    }

    @if (Foreground != null) {
        <div class="scrollable-foreground">@Foreground</div>
    }

    @if (Title != null) {
        <h1 class="scrollable-title" data-scroll-speed="@TitleScrollSpeed" data-scroll-offset="@TitleScrollOffset">@Title</h1>
    }
</div>
@if (HasSideHeader && Header != null)
{
    <span class="section-scroller side-header" data-sticky="true">@Header</span>
}

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    [Parameter]
    public RenderFragment? Background { get; set; }
    [Parameter]
    public RenderFragment? Foreground { get; set; }
    [Parameter]
    public RenderFragment? Title { get; set; }

    [Parameter]
    public bool HasSideHeader { get; set; } = false;
    [Parameter]
    public string? Header { get; set; }

    [Parameter]
    public double ScrollSpeed { get; set; } = 1;

    [Parameter]
    public double ScrollOffset { get; set; } = 0;

    [Parameter]
    public double BackgroundScrollSpeed { get; set; } = 1;

    [Parameter]
    public double BackgroundScrollOffset { get; set; } = 0;

    [Parameter]
    public double TitleScrollSpeed { get; set; } = 1;

    [Parameter]
    public double TitleScrollOffset { get; set; } = 0;
}
